{% include 'partials/_header.html' %}
<div class="text-center">
    <h3>Help</h3>
</div>
<div class="content">
    <p>Flask Relinker is a simple yet powerful URL shortener application that is powered with Flask and SQLite at its heart. This minimalistic, casual user-oriented application offers everything you could need to shorten and manage the URLs of your favorite websites.</p>
    <p>For a normal user, this is just anothe small application making user of TinyURL API to shorten links. But if you...</p>
    <h3>Become A Member</h3>
    <p>Then you get some good perks for doing so! All you have to do is to enter a username, your e-mail adress and a good password for yourself, and in return you can:</p>
    <ul>
        <li>Shorten your URLs with a <a class="link" href="/algorithm">custom algorithm</a> (which uses <b>SHA-384</b> hash algorithm!).</li>
        <li>Save and copy up to 10 of your favorite URLs in their shortened form.</li>
        <li>Access the Top 10 most converted links page, just in case you need a popular website's URL in shortened form. Who knows, maybe your favorite website will be there one day!</li>
    </ul>
    <p>No need to sync, no paid features, no interrupting advertisements, and no buzzword marketing tricks to manipulate you into being a member, paid or not. Just a simple, back-to-basics, self-developed URL shortener that does its job good.</p>
</div>
{% include 'partials/_footer.html' %}