[data-bs-theme="dark"] body {
    background-image: url(../../static/dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f9fa;
}

[data-bs-theme="dark"] body hr {
    border-color: #323639;
}

[data-bs-theme="dark"] .content .link,[data-bs-theme="dark"] .list .link,[data-bs-theme="dark"] td .link,[data-bs-theme="dark"] form .link {
    filter: contrast(0.8);
    color: #f8f9fa;
    text-decoration: none;
    transition-duration: 0.25s;

    &:hover{
        filter: contrast(1.0);
        color: #606573;
        text-decoration: none;
        transition-duration: 0.25s;
    }

    &:active{
        filter: contrast(1) brightness(1.3);
        text-decoration: none;
        transition-duration: 0.25s;
    }
}

[data-bs-theme="dark"] body .form-group {
    border: #323639 1px solid;
    border-radius: 16px;
}

[data-bs-theme="dark"] body .btn {
    color: #f8f9fa;
    transition-duration: 0.25s;
}

[data-bs-theme="dark"] body .btn:hover {
    color: #fcfdff;
}

[data-bs-theme="dark"] body .btn:active {
    color: #abacad;
}

[data-bs-theme="dark"] body .progress {
    background-color: #323639;
}

[data-bs-theme="dark"] td{
    color: #f8f9fa;
}