{% include 'partials/_header.html' %}
<div class="text-center">
    <h3>Update Password</h3>
    <form action="/update/password" method="POST">
        <div class="form-group">
            <label for="old-password">Enter your current password</label>
            <input type="password" class="form-control" id="old-password" name="old-password" required>
            <label for="new-password">Enter your new password</label>
            <input type="password" class="form-control" id="new-password" name="new-password" required>
            <label for="confirm-password">Confirm your new password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
            <button type="submit" class="btn">Update Password</button>
        </div>
    </form>
</div>
{% include 'partials/_footer.html' %}