<html>
    <body>
        <h1>I'm Sad That You Forgot Your Password :(</h1>
        <hr/>
        <p>It's okay, stuff happens all the time. Thankfully, Flask Relinker created you a new password, it's {{password}}.</p>
        <p>In order to prevent this from happening ever again, you can take note of/store your password, eg. save it in your browser. Alternatively, you can also change your password from your user panel.</p>
        <p>Sincerely,</p>
        <p><b>Flask Relinker</b></p>
    </body>
</html>